@font-face {
  font-family: 'IRANSansMobile_Light';
  src: local('IRANSansMobile_Light'), url(./fonts/MobileFonts/IRANSansMobile_Light.ttf) format('truetype');

}
@font-face {
  font-family: 'IRANSansMobile_med';
  src: local('IRANSansMobile_Medium'), url(./fonts/MobileFonts/IRANSansMobile_Medium.ttf) format('truetype');

}

@font-face {
  font-family: 'IRANSans';
  src: local('IRANSansMobile_Medium'), url(./fonts/MobileFonts/IRANSansMobile_Medium.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: IRANSansMobile_Light , 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


